.LoginDiv{
  position: fixed;
  display:flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background: rgb(9,82,125);
  background: linear-gradient(90deg, rgba(9,82,125,1) 0%, rgba(9,98,121,1) 35%, rgba(9,121,95,1) 100%);
  border-radius: 0% 100% 82% 18% / 44% 35% 65% 56% ;
  box-shadow: -30px 25px 15px rgba(32, 65, 72, 0.459); /* Adjust values as needed */  
}
.Heading{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 500px;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(3, 4, 6, 0.771);
}
.LoginDiv {

  background-color: #eee;
  transition: transform 0.3s ease-in-out;
}

.LoginDiv.hidden {
  transform: translateX(-80%);
  cursor: pointer;
}

.InputFields{
  width: 170px;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  color: white;
  text-shadow: 2px 4px 4px rgba(3, 4, 6, 0.771);
}
.LoginDiv input:focus {
  border: 3px solid #20ab8a;
}
.LabelNField{
  display: flex;
  justify-content: space-between;
  width: 280px;
}

label{
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #318c7b;
}

.LoginButton{
  background-color: #188067;
  color: white;
  font-weight: bold;
  width: 100px;
  border-radius: 15px;
  outline: none;
  text-shadow: 2px 4px 4px rgba(3, 4, 6, 0.771);
  border: 2px solid #20ab8a;
  margin-left: 95px;
}