
.card {
    background-color:white;
    width: 300px;
    border: 2px solid #096377; ;
    box-shadow: 15px 15px 4px darkgrey;
}

.profile img {
    height: 270px;
    width: 300px;
}

p{
    color: black;
}

.name {

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px #a8acac;
    padding:10px
}

.profile-container {
    margin-top: 80px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }